/* * Este arquivo é onde você deve importar os estilos base do Tailwind 
 * e adicionar qualquer estilo global que não seja específico de um componente.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Estilos globais personalizados, se houver.
 * Exemplo: Definir a fonte padrão para todo o corpo.
 */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.btn-confirm {
  @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-lg shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150;
}
.btn-cancel {
  @apply inline-flex items-center px-4 py-2 border border-gray-300 text-base font-medium rounded-lg shadow-sm text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150;
}
